===============================================

Downloading {{ partner_name }} fresh feed:

File - {{ file_name }}, {{ file_size_mb }} MB
Progress: {{ download_progress_percent }}%
Downloaded: {{ downloaded_mb }} MB

Memory usage - {{ memory_usage_mb }} MB
Time spent - {{ time_spent }}
