===============================================

Importing {{ partner_name }} fresh feed:

File - {{ file_name }}, {{ file_size_mb }} MB

Filtered: {{ filtered_items }}
Imported: {{ imported_items }}

Committed to db: {{ committed_items }}

Removed: {{ removed_items }}
Updated: {{ updated_items }}
Newly inserted: {{ new_items }}

Memory usage - {{ memory_usage_mb }} MB
Time spent - {{ time_spent }}
