===============================================

Imported {{ partner_name }} fresh feed:

Filtered: {{ filtered_items }}
Imported: {{ imported_items }}

Salary found: {{ items_with_salary }}

Removed: {{ removed_items }}
Updated: {{ updated_items }}
Newly inserted: {{ new_items }}

Memory usage - {{ memory_usage_mb }} MB
Time spent - {{ time_spent }}
